<div *ngIf="model" class="topologytype" BackgroundHighlight="lightblue">

 <div><label>Id: </label> {{model.Id}} </div>
    <div><label>Name: </label> {{model.Name}} </div>
    <ul class="list-group">
        <li *ngFor="let env of model.EnvironmentPurposes" class="list-group-item">
            <span> <label>EnvironmentPurpose: </label> {{env}}</span>
            <!--<a *ngIf="!showActionButtons" href="#" (click)="delete(env)" class="badge" aria-hidden="true">&times;</a>-->
        </li>
    </ul>
     <div *ngIf="showActionButtons">
        <button type="button" class="btn btn-primary" [GoTo]="model" Path="{{detailsPath}}">Zoom in</button>
        <button type="button" class="btn btn-primary" (click)="topologyEdit.show()">Edit</button>
        <button type="button" class="btn btn-warning" (click)="deleteItem.show()">Delete</button>
     </div>

    <topologytype-edit #topologyEdit [Model]="model"></topologytype-edit>
    <delete-item #deleteItem [Model]="model" (onDelete)="delete($event)"></delete-item>
</div>