 <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{tabHeader}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngIf="showIdField">
                    <label>Id</label>
                    <input type="text" [(ngModel)]="model.Id" placeholder="Id" required [disabled]="autoGenerateId"/>
                    <input type="checkbox" [checked]="autoGenerateId" (click)="autoGenerateId = !autoGenerateId" />
                </div>
                <div class="form-group">
                    <label>CdEnvironment</label>
                     <select class="form-control" id="CdEnvironmentId"
                            [(ngModel)]="model.CdEnvironmentId" required >
                        <option *ngFor="let c of availableEnvironments" [value]="c[0]">{{c[0]}} | ({{c[1]}})</option>
                    </select>
                </div>
                <div class="form-group" *ngFor="let env of model.BaseUrls; let i = index;">
                    <label>BaseUrls</label>
                    <input type="text" [(ngModel)]="model.BaseUrls[i]" placeholder="Url" required />
                </div>

                <button type="button" (click)="lgModal.hide()" aria-label="Close">Close</button>
                <button type="button" (click)="SaveOrUpdate()" aria-label="Save">Save</button>
            </div>
        </div>
    </div>