 <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{tabHeader}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngIf="showIdField">
                    <label>Id</label>
                    <input type="text" [(ngModel)]="model.Id" placeholder="Id" required [disabled]="autoGenerateId"/>
                    <input type="checkbox" [checked]="autoGenerateId" (click)="autoGenerateId = !autoGenerateId" />
                </div>
                <div class="form-group">
                    <label>EnvironmentPurpose</label>
                    <select class="form-control" id="purposes"
                            [(ngModel)]="model.EnvironmentPurpose" required >
                        <option *ngFor="let c of purposes" [value]="c">{{c}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>DiscoveryEndpointUrl</label>
                    <input [(ngModel)]="model.DiscoveryEndpointUrl" placeholder="DiscoveryEndpointUrl" required />
                </div>
                <div class="form-group">
                    <label>IsOffline</label>
                    <input  type="checkbox" [(ngModel)]="model.IsOffline" placeholder="IsOffline" required  />
                </div>
                <div class="form-group">
                    <label>AuthenticationType</label>
                    <select class="form-control" id="authenticationtypes" (change)="onChange($event.target.value)"
                            [(ngModel)]="model.Credentials.AuthenticationType" required >
                        <option *ngFor="let type of authenticationTypes" [value]="type">{{type}}</option>
                    </select>
                </div>
                <div *ngIf="model.Credentials.AuthenticationType && model.Credentials.AuthenticationType != 'Anonymous'">
                       <div class="form-group">
                            <label>ClientId</label>
                            <input [(ngModel)]="model.Credentials.ClientId" placeholder="ClientId" required />
                        </div>
                        <div class="form-group">
                            <label>ClientSecret</label>
                            <input [(ngModel)]="model.Credentials.ClientSecret" placeholder="ClientSecret" required />
                        </div>
                </div>

                <button type="button" (click)="lgModal.hide()" aria-label="Close">Close</button>
                <button type="button" (click)="SaveOrUpdate()" aria-label="Save">Save</button>
            </div>
        </div>
    </div>