
<search (onKeypress)="ViewUpdate($event)" [Collection]="Collection" ></search>

<div class="environment" BackgroundHighlight="lightblue"
     *ngFor="let item of ViewCollection">
    <div><label>Id: </label> {{item.Id}} </div>
    <div><label>Purpose: </label> {{item.EnvironmentPurpose}} </div>
    <div><label>DiscoveryUrl: </label> {{item.DiscoveryEndpointUrl}} </div>
    <div><label>IsOffline: </label> {{item.IsOffline}} </div>
    <div><label>ClientId: </label> {{item.Credentials.ClientId}} </div>

    <button type="button" class="btn btn-primary" [GoTo]="item" Path="{{detailsPath}}">Zoom in</button>
    <!--<action-buttcons [Model]="item" Path="{{detailsPath}}"></action-buttons>-->
</div>
