 <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit {{model.Id}}</h4>
                </div>
                <div class="modal-body">
                    <div><label>EnvironmentPurpose</label> <input [(ngModel)]="model.EnvironmentPurpose" placeholder="Purpose" /></div>
                    <div><label>DiscoveryEndpointUrl</label> <input [(ngModel)]="model.DiscoveryEndpointUrl" placeholder="DiscoveryEndpointUrl" /></div>
                    <div><label>IsOffline</label> <input  type="checkbox" [(ngModel)]="model.IsOffline" placeholder="IsOffline" /></div>

                    <button type="button" (click)="lgModal.hide()" aria-label="Close">Close</button>
                    <button type="button" (click)="Save()" aria-label="Save">Save</button>
                </div>
            </div>
        </div>