version: 0.0.1.{build}-alpha
environment:
  nodejs_version: "7.5.0"
  nuget-user:
    secure: +mXMc/KMOWfKKmSsClCe5Q==
  nuget-password:
    secure: oMmO/KTM/mS5HlnSgEeRoQ==
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - develop
  - master
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
install:
 - nuget sources add -Name Private-nuget -Source http://private-nuget.azurewebsites.net/nuget -UserName %nuget-user% -Password %nuget-password%
 - ps: Install-Product node $Env:nodejs_version
 - choco install msbuild.communitytasks -y
# - npm install -g @angular/cli
# scripts to run before build
before_build:
  - cd %APPVEYOR_BUILD_FOLDER%
  - cd client  
  - npm install --depth 0
  - npm run build:prod -- --progress=false
  - cd ..\server
  - nuget restore
build:
  project: server\msbuild.build
  verbosity: normal
test:
  assemblies:
    - '**\*.test.dll'
artifacts:
- path: build/package/**/*.zip
  name: Zip Archive
deploy:
  release: v$(appveyor_build_version)
  description: ''
  provider: GitHub
  auth_token:
    secure: jnOdjl7XtHQRIdu8N62H7Lo30OOjtDpV9VtnCBmgd+7hVrnqu71dPMQ4mKSSHHQj    # your encrypted token from GitHub
  artifact: build/package/**/*.zip            # upload all NuGet packages to release assets
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only
    appveyor_repo_tag: true        # deploy on tag push only
