<button type="button" class="btn btn-outline btn-orange"
        (click)="isCollapsed = !isCollapsed">
<span class="glyphicon glyphicon-search"></span> {{title}}
</button>
<hr/>
<div (collapsed)="collapsed($event)"
     (expanded)="expanded($event)"
     [collapse]="isCollapsed"
     class="card card-block card-header">
  <div class="well well-lg">
     <!--<div class="container">
        <label class="btn btn-primary" [(ngModel)]="operator" btnRadio="AND">AND</label>
        <label class="btn btn-primary" [(ngModel)]="operator"  btnRadio="OR">OR</label>
    </div>
    <br/>-->
      <div class="row">
      <div class="col-md-6">
        <h4>Search</h4>
          <div class="custom-search-input">
              <div class="input-group col-md-12">
                  <input type="text" class="form-control input-lg" placeholder="Any field" (keyup)="OnSearch($event)" />
                  <span class="input-group-btn">
                      <button class="icon-button" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                  </span>
              </div>
          </div>
      </div>
      </div>
    </div>
</div>

