     <div *ngIf="model"  class="col-sm-6 ">
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong>Mapping ({{model.Id}})</strong>
                <button *ngIf="showActionButtons" type="button" class="icon-pencil pull-right" (click)="mappingEdit.show()">Edit</button>
                <button *ngIf="showActionButtons" type="button" class="icon-pencil pull-right" (click)="deleteItem.show()">Delete</button>
            </div>
            <dl class="dl-horizontal">
                <dt>CmEnvironmentId</dt>
                <dd>{{model.CmEnvironmentId}}</dd>
                <dt>PublicationId</dt>
                <dd>{{model.PublicationId}}</dd>
                <dt>EnvironmentPurpose</dt>
                <dd>{{model.EnvironmentPurpose}}</dd>
                 <dt>WebApplicationId</dt>
                <dd>{{model.WebApplicationId}}</dd>
                 <dt>RelativeUrl</dt>
                <dd>{{model.RelativeUrl}}</dd>
                 <dt>PrimaryMappedUrl</dt>
                <dd>{{model.PrimaryMappedUrl}}</dd>
                 <dt>IsOffline</dt>
                <dd>{{model.IsOffline}}</dd>
            </dl>
            <ul class="list-group">
                <li *ngFor="let c of model.ExtensionProperties" class="list-group-item">
                    <label>{{c.Name}}</label>
                    <span>{{c.Value}}</span>
                </li>
            </ul>
        </div>
    <mapping-edit #mappingEdit [Model]="model"></mapping-edit>
    <delete-item #deleteItem [Model]="model" (onDelete)="delete($event)"></delete-item>
</div>
