<div class="row">
  <div *ngIf="model" class="col-sm-6 ">
    <div class="panel panel-default panel-orange">
      <div class="panel-heading">
        <h4>
        CmEnvironment ({{model.Id}})
        <div class="btn-group pull-right" role="group" aria-label="Add remove buttons">
        <button *ngIf="showActionButtons" type="button" class="icon-button" (click)="envEdit.show()"><span class="glyphicon glyphicon-pencil"></span></button>
        <button *ngIf="showActionButtons" type="button" class="icon-button" (click)="deleteItem.show()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        </h4>
      </div>
      <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>WebsiteRootUrl</dt>
        <dd>{{model.WebsiteRootUrl}}</dd>
        <dt>CoreServiceRootUrl</dt>
        <dd>{{model.CoreServiceRootUrl}}</dd>
        <dt>Authentication Type</dt>
        <dd>{{model.CoreServiceCredentials.AuthenticationType}}</dd>
        <dt *ngIf="model.CoreServiceCredentials.UserName">UserName</dt>
        <dd *ngIf="model.CoreServiceCredentials.UserName">{{model.CoreServiceCredentials.UserName}}</dd>
      </dl>
      </div>
    </div>
    <cm-env-edit #envEdit [Model]="model"></cm-env-edit>
    <delete-item #deleteItem [Model]="model" (onDelete)="delete($event)"></delete-item>
  </div>
</div>
