<div class="row">
  <div *ngIf="model" class="col-sm-6 ">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>
        CmEnvironment ({{model.Id}})
        <button *ngIf="showActionButtons" type="button" class="btn btn-default pull-right btn-sm" (click)="envEdit.show()">Edit</button>
        <button *ngIf="showActionButtons" type="button" class="btn btn-default pull-right btn-sm" (click)="deleteItem.show()">Delete</button>
        </h4>
      </div>
      <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>WebsiteRootUrl</dt>
        <dd>{{model.WebsiteRootUrl}}</dd>
        <dt>CoreServiceRootUrl</dt>
        <dd>{{model.CoreServiceRootUrl}}</dd>
        <dt>Authentication Type</dt>
        <dd>{{model.CoreServiceCredentials.AuthenticationType}}</dd>
        <dt *ngIf="model.CoreServiceCredentials.UserName">UserName</dt>
        <dd *ngIf="model.CoreServiceCredentials.UserName">{{model.CoreServiceCredentials.UserName}}</dd>
      </dl>
      </div>
    </div>
    <cm-env-edit #envEdit [Model]="model"></cm-env-edit>
    <delete-item #deleteItem [Model]="model" (onDelete)="delete($event)"></delete-item>
  </div>
</div>
