 <div *ngIf="model" bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{tabHeader}}</h4>
            </div>
            <div class="modal-body">
             <form (ngSubmit)="onSubmit()" #editForm="ngForm">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="model.Name" placeholder="Name" name="name" required />
                </div>
                <div class="form-group">
                    <label>Topology Endpoint</label>
                    <input type="text" [(ngModel)]="model.TopologyManagerEndpoint.Url" placeholder="Url" name="t-url"required />
                </div>
                <!--<div class="form-group">
                    <label>Domain</label>
                    <input type="text" [(ngModel)]="model.TopologyManagerEndpoint.Domain" placeholder="Domain" name="t-domain" />
                </div>
                <div class="form-group">
                    <label>UserName</label>
                    <input type="text" [(ngModel)]="model.TopologyManagerEndpoint.UserName" placeholder="UserName" name="t-username" required />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" [(ngModel)]="model.TopologyManagerEndpoint.Password" placeholder="Password" name="t-password" required />
                </div>-->
                 <div class="form-group">
                    <label>CoreService Endpoint</label>
                    <input type="text" [(ngModel)]="model.CoreServiceEndpoint.Url" placeholder="Url" name="c-name" required />
                </div>
                <!--<div class="form-group">
                    <label>Domain</label>
                    <input type="text" [(ngModel)]="model.CoreServiceEndpoint.Domain" placeholder="Domain" name="c-domain"  />
                </div>
                <div class="form-group">
                    <label>UserName</label>
                    <input type="text" [(ngModel)]="model.CoreServiceEndpoint.UserName" placeholder="UserName" name="c-username" required />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" [(ngModel)]="model.CoreServiceEndpoint.Password" placeholder="Password" name="c-password" required  />
                </div>-->
                <button type="button"  class="btn btn-success"  [disabled]="!editForm.form.valid" (click)="saveOrUpdate()" aria-label="Save">Save</button>
             </form>
            </div>
        </div>
    </div>