@import './_base.scss';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    font: 100% $font-stack;
    color: $primary-color;
}


div.list-group-item {
    &:hover {       
        background-color: #e0e3e5;
    }
}

.env-selection {
    &:hover {
        cursor:pointer;
    }
}

.btn-edit {
    margin: 3px;
}