<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header">
      <div class="top-left-part">
        <strong><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-leaf"></span> G4TM</a></strong>
      </div>
      <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

       <env-select-nav></env-select-nav>
      </div>
  </div>
</nav>
<app-nav-container class="sidebar"></app-nav-container>
<div class="page-wrapper">
  <div class="container-fluid">
       <messages></messages>
      <div class="row">
          <div class="col-sm-9 col-md-9 main">
              <router-outlet></router-outlet>
          </div>
      </div>
 
  </div>
</div>
