<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
	     <clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="private" value="http://private-nuget.azurewebsites.net/nuget" />
	</packageSources>
  <packageSourceCredentials>
    <private>
      <add key="Username" value="admin" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA6scncwe/90ysoTQzLT0aiQAAAAACAAAAAAAQZgAAAAEAACAAAAD0gIr9nwub57jYuZTxXkcnihpzCGayp01SeueFqIbzqwAAAAAOgAAAAAIAACAAAAAdrx9azVjZ8kNT/CylJn92XNtdb8oXGD4mj9xx2PdhpxAAAAA8DgX1HrSoOTGphQmLejfrQAAAAJ0lp/u+vsgrCCu80z7v0vfKhTVh74Jwr1bC4cKYRWqnOByeMc74Go8mYh2nPun+HgStuNr8PHgKDBdKGEWOUCs=" />
    </private>
  </packageSourceCredentials>
</configuration>