<label>Name</label>
<select class="form-control" [ngModel]="selectModel" required
                    (change)="onChangeExtensionKeys($event.target.value)" >
    <option disabled hidden [value]="selectUndefinedOptionValue">-- select --</option>
    <option *ngFor="let key of availableKeys" [value]="key">{{key}}</option>
    <option value="custom">custom</option>
</select>
<input #nameInput class="form-control"  type="text"
            [(ngModel)]="model.Name" placeholder="Name" required />
<label>Value</label>
<input class="form-control" type="text"  [(ngModel)]="model.Value" placeholder="Value" required />
<button type="button" class="btn btn-warning" (click)="removeExtensionProperty()">Remove</button>
<hr/>