<div *ngIf="model" class="Webapplication" BackgroundHighlight="lightblue">
    <div><label>Id: </label> {{model.Id}} </div>
    <div><label>WebsiteId: </label> {{model.WebsiteId}} </div>
    <div><label>EnvironmentPurpose: </label> {{model.EnvironmentPurpose}} </div>
    <div><label>ContextUrl: </label> {{model.ContextUrl}} </div>

    <webapplication-edit #webappedit [Model]="model"></webapplication-edit>

      <div *ngIf="showActionButtons">
        <!--<button type="button" class="btn btn-primary" [GoTo]="model" Path="{{detailsPath}}">Zoom in</button>-->
        <button type="button" class="btn btn-primary" (click)="webappedit.Show()">Edit</button>
        <!--<button type="button" class="btn btn-warning" (click)="smModal.show()">Delete</button>-->
     </div>
</div>