<div *ngIf="Model" class="mapping" BackgroundHighlight="lightblue">
    <div><label>Id: </label> {{Model.Id}} </div>
    <div><label>CmEnvironmentId: </label> {{Model.CmEnvironmentId}} </div>
    <div><label>PublicationId: </label> {{Model.PublicationId}} </div>
    <div><label>EnvironmentPurpose: </label> {{Model.EnvironmentPurpose}} </div>
    <div><label>WebApplicationId: </label> {{Model.WebApplicationId}} </div>
    <div><label>RelativeUrl: </label> {{Model.RelativeUrl}} </div>
    <div><label>PrimaryMappedUrl: </label> {{Model.PrimaryMappedUrl}} </div>
    <div><label>ContexIsOfflinetUrl: </label> {{Model.IsOffline}} </div>
</div>
