 <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{tabHeader}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngIf="showIdField">
                    <label>Id</label>
                    <input class="form-control" type="text" [(ngModel)]="model.Id" placeholder="Id" required [disabled]="autoGenerateId"/>
                    <input type="checkbox" [checked]="autoGenerateId" (click)="autoGenerateId = !autoGenerateId" />
                </div>
                <div class="form-group">
                    <label>CmEnvironmentId</label>
                    <select class="form-control" id="WebApplicationId"
                            [(ngModel)]="model.CmEnvironmentId" required >
                        <option *ngFor="let c of availableCmEnvironments" [value]="c">{{c}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>WebApplicationId</label>
                     <select class="form-control" id="WebApplicationId"
                            [(ngModel)]="model.WebApplicationId" required >
                        <option *ngFor="let c of availableWebApplications" [value]="c">{{c}}</option>
                    </select>
                </div>
                 <div class="form-group">
                    <label>PublicationId</label>
                     <select class="form-control" id="publicationid" (change)="onChange($event.target.value)"
                            [(ngModel)]="model.PublicationId" required >
                        <option *ngFor="let c of publications" [value]="c.Id">{{c.Title}} || ({{c.Id}})</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>RelativeUrl</label>
                    <input class="form-control" [(ngModel)]="model.RelativeUrl" placeholder="RelativeUrl" required />
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">ExtensionProperties</h3>
                    </div>
                    <div class="panel-body" *ngFor="let extensionProperties of model.ExtensionProperties; let i = index;">
                        <label>Name</label>
                        <input class="form-control" type="text" [ngModel]="model.ExtensionProperties[i].Name" placeholder="Name" required />
                        <label>Value</label>
                        <input class="form-control" type="text"  [ngModel]="model.ExtensionProperties[i].Value" placeholder="Value" required />
                        <hr/>
                    </div>
                </div>

                <!--<button type="button" (click)="lgModal.hide()" aria-label="Close">Close</button>-->
                <button type="button" class="btn btn-success" (click)="saveOrUpdate()" aria-label="Save">Save</button>
            </div>
        </div>
    </div>