<div *ngIf="model" class="mapping" BackgroundHighlight="lightblue">
    <div><label>Id: </label> {{model.Id}} </div>
    <div><label>CmEnvironmentId: </label> {{model.CmEnvironmentId}} </div>
    <div><label>PublicationId: </label> {{model.PublicationId}} </div>
    <div><label>EnvironmentPurpose: </label> {{model.EnvironmentPurpose}} </div>
    <div><label>WebApplicationId: </label> {{model.WebApplicationId}} </div>
    <div><label>RelativeUrl: </label> {{model.RelativeUrl}} </div>
    <div><label>PrimaryMappedUrl: </label> {{model.PrimaryMappedUrl}} </div>
    <div><label>IsOffline: </label> {{model.IsOffline}} </div>

    <action-buttons [Model]="model" Path="{{detailsPath}}"></action-buttons>
</div>
