     <div *ngIf="model"  class="col-sm-6 ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                  CdEnvironment ({{model.Id}})

                <button *ngIf="showActionButtons" type="button" class="btn btn-default pull-right btn-sm" (click)="envEdit.show()">Edit</button>
                <button *ngIf="showActionButtons" type="button" class="btn btn-default pull-right btn-sm" (click)="deleteItem.show()">Delete</button>
                </h4>
            </div>
            <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>EnvironmentPurpose</dt>
                <dd>{{model.EnvironmentPurpose}}</dd>
                 <dt>DiscoveryUrl</dt>
                <dd>{{model.DiscoveryEndpointUrl}}</dd>
                 <dt>IsOffline</dt>
                <dd>{{model.IsOffline}}</dd>
                <dt>Authentication Type</dt>
                <dd>{{model.Credentials.AuthenticationType}}</dd>
                <dt *ngIf="model.Credentials.ClientId">ClientId</dt>
                <dd *ngIf="model.Credentials.ClientId">{{model.Credentials.ClientId}}</dd>
            </dl>
            </div>
        </div>
    <cd-env-edit #envEdit [Model]="model"></cd-env-edit>
    <delete-item #deleteItem [Model]="model" (onDelete)="delete($event)"></delete-item>
</div>
