     <div *ngIf="model"  class="col-sm-6 ">
        <div class="panel panel-default panel-orange">
            <div class="panel-heading">
                <h4>
                  CdEnvironment ({{model.Id}})
                <div class="btn-group pull-right" role="group" aria-label="Add remove buttons">
                  <button *ngIf="showActionButtons" type="button" class="icon-button" (click)="envEdit.show()"><span class="glyphicon glyphicon-pencil"></span></button>
                  <button *ngIf="showActionButtons" type="button" class="icon-button" (click)="deleteItem.show()"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                </h4>
            </div>
            <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>EnvironmentPurpose</dt>
                <dd>{{model.EnvironmentPurpose}}</dd>
                 <dt>DiscoveryUrl</dt>
                <dd>{{model.DiscoveryEndpointUrl}}</dd>
                 <dt>IsOffline</dt>
                <dd>{{model.IsOffline}}</dd>
                <dt>Authentication Type</dt>
                <dd>{{model.Credentials.AuthenticationType}}</dd>
                <dt *ngIf="model.Credentials.ClientId">ClientId</dt>
                <dd *ngIf="model.Credentials.ClientId">{{model.Credentials.ClientId}}</dd>
            </dl>
            </div>
        </div>
    <cd-env-edit #envEdit [Model]="model"></cd-env-edit>
    <delete-item #deleteItem [Model]="model" (onDelete)="delete($event)"></delete-item>
</div>
