<div class="row">
  <div class="col-md-12">
      <h1 class="mb-3">{{title}}</h1>
      <button type="button" class="btn btn-outline btn-orange pull-right" (click)="envEdit.show()">Add</button>
      <search (onKeypress)="ViewUpdate($event)" [Collection]="Collection" ></search>
      <cd-env-edit #envEdit></cd-env-edit>
      <div class="row">
        <cd-environment-promobox BackgroundHighlight="lightblue" *ngFor="let item of ViewCollection" [Model]="item"></cd-environment-promobox>
      </div>
  </div>
</div>
